.responsive {
    width: 100%;
    height: auto;
}

body {
  font-family: 'Special Elite';
  font-size: 25px;
  background-image: url("warehousebg-1024x682.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

  
  .column {
    flex: 25%;
    max-width: 50%;
    padding: 0 3px;
  }

  .column img {
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    width: 100%; 
  }


@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (min-width:700px) {
    header {
        display: none !important;
    }
  }

.navbar {
    background-color: black;
  }

  .nav-link {
      font-family: 'Special Elite';
  }

  .jumbotron {
    font-family: 'Special Elite';
  }

  .jumbotron {
    font-family: 'Special Elite';
    text-align: center;
    background: none !important;
    color: white;
  }
  
  .card-header {
    font-family: 'Special Elite';
    font-size: 25px;
    background-color: black;
  }
  
  .card-body {
    font-family: 'Special Elite';
    background-color: black;
    color: white;
  }
  
  #info-btn {
    background: rgba(216, 47, 124, 1.0);
    background: -webkit-linear-gradient(top left, rgba(216, 47, 124, 1.0), rgba(53, 242, 225, 1.0));
    background: -moz-linear-gradient(top left, rgba(216, 47, 124, 1.0), rgba(53, 242, 225, 1.0));
    background: linear-gradient(to bottom right, rgba(216, 47, 124, 1.0), rgba(53, 242, 225, 1.0));
  }
  
  #member-btn {
    background: rgba(195, 212, 112, 1.0);
    background: -webkit-linear-gradient(top left, rgba(195, 212, 112, 1.0), rgba(35, 167, 123, 1.0));
    background: -moz-linear-gradient(top left, rgba(195, 212, 112, 1.0), rgba(35, 167, 123, 1.0));
    background: linear-gradient(to bottom right, rgba(195, 212, 112, 1.0), rgba(35, 167, 123, 1.0));
  }
  
  #giving-btn {
    background: rgba(19, 35, 207, 1.0);
    background: -webkit-linear-gradient(top left, rgba(19, 35, 207, 1.0), rgba(223, 216, 15, 1.0));
    background: -moz-linear-gradient(top left, rgba(19, 35, 207, 1.0), rgba(223, 216, 15, 1.0));
    background: linear-gradient(to bottom right, rgba(19, 35, 207, 1.0), rgba(223, 216, 15, 1.0));
  }