html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Special Elite';
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("FB_IMG_1581283736140.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
  
@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
}
  
@media screen and (min-width:700px) {
  header {
  display: none !important;
  }
}
  
.navbar {
  background-color: black;
    
}
  
.nav-link {
  font-family: 'Special Elite';
}
  
.jumbotron-main {
  font-family: 'Special Elite';
  background: none !important;
  color: white;
  text-align: center;
}

.card {
  font-family: 'Special Elite';
}

  /* CSS for To The Top button */
#topBtn {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
  
#topBtn::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#topBtn:hover {
  cursor: pointer;
  background-color: #333;
}

#topBtn:active {
  background-color: #555;
}

#topBtn.show {
  opacity: 1;
  visibility: visible;
}


.card-image-fourroses {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("FB_IMG_1581116422962.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-jimbeam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("b_388.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-wildturkey {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("distillery_nevertamed_gallery9_wild_turkey.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-makersmark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("event-image-5488888-71ae5e09-9262-4900-a247-18a670a34136-2.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-buffalotrace {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("Buffalo_Trace_Tower.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-angelsenvy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("IMG_20200131_150003.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-bulleit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("very_large_square_u45-bulleitbourbonhero.jpg");
  background-size: 100%;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-jefferson {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("publicviewattachment-13.jpg");
  background-size: 100%;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-image-few {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("fewspirits.jpg");
  background-size: 100%;
  background-repeat: no-repeat; 
  height: 400px;
  display: block;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
